---
services:
  stirling-pdf:
    image: ghcr.io/stirling-tools/stirling-pdf:1.5.0
    container_name: stirling-pdf
    restart: unless-stopped
    networks:
      - stirling-pdf
      - caddy
    expose:
      - 8080
    volumes:
      - ./StirlingPDF/trainingData:/usr/share/tessdata # Required for extra OCR languages
      - ./StirlingPDF/extraConfigs:/configs
      - ./StirlingPDF/customFiles:/customFiles/
      - ./StirlingPDF/logs:/logs/
      - ./StirlingPDF/pipeline:/pipeline/
    environment:
      - DISABLE_ADDITIONAL_FEATURES=false
      - LANGS=en_GB
    labels:
      caddy: stirling.{$$DOMAIN}
      caddy.import: cloudflare
      caddy.reverse_proxy: "{{ upstreams 8080 }}"

networks:
  stirling-pdf:
    name: stirling-pdf
  caddy:
    external: true
