[defaults]
# Specify the inventory file
inventory = inventory/hosts.yml

# Define the directory for host and group variables
host_vars_inventory = inventory/host_vars
group_vars_inventory = inventory/group_vars

# Disable SSH host key checking
host_key_checking = False
