---
services:
  caddy:
    container_name: caddy
    image: ghcr.io/dbrennand/caddy-docker-proxy-cloudflare:2025.12.16
    restart: unless-stopped
    command: caddy docker-proxy
    ports:
      - "80:80"
      - "443:443"
      - "443:443/udp"
    environment:
      ACME_EMAIL: "${ACME_EMAIL}"
      CF_API_TOKEN: "${CF_API_TOKEN}"
      DOMAIN: "${DOMAIN}"
      # https://github.com/lucaslorentz/caddy-docker-proxy#caddy-cli
      CADDY_INGRESS_NETWORKS: caddy
      CADDY_DOCKER_CADDYFILE_PATH: /etc/caddy/Caddyfile
    volumes:
      - ./conf:/etc/caddy
      - ./data:/data
      - ./config:/config
      # Required for Caddy to read Docker container labels
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - caddy
    extra_hosts:
      - "host.docker.internal:host-gateway"

networks:
  caddy:
    name: caddy
