---
all:
  hosts:
    proxmox01.net.dbren.uk:
    exit01.net.dbren.uk:
    backup01.net.dbren.uk:
    media01.net.dbren.uk:
    k3s01.net.dbren.uk:
    homeops.hetzner.dbren.uk:
    idp01.net.dbren.uk:
    apps01.net.dbren.uk:
  children:
    # Proxmox
    proxmox:
      hosts:
        proxmox01.net.dbren.uk:
    # Docker
    docker:
      hosts:
        media01.net.dbren.uk:
        homeops.hetzner.dbren.uk:
        idp01.net.dbren.uk:
        apps01.net.dbren.uk:
    # Tailscale subnet routers
    subnet_router:
      hosts:
        exit01.net.dbren.uk:
    # Tailscale hosts
    tailscale:
      vars:
        # Ensures other group_vars have higher precedence than tailscale group_vars
        ansible_group_priority: 0
      children:
        proxmox:
        subnet_router:
      hosts:
        media01.net.dbren.uk:
        backup01.net.dbren.uk:
        homeops.hetzner.dbren.uk:
        idp01.net.dbren.uk:
        apps01.net.dbren.uk:
