---
# vars file for playbook-media-server.yml
# dbrennand.autorestic role vars
# https://github.com/dbrennand/ansible-role-autorestic?tab=readme-ov-file#role-variables
autorestic_version: 1.8.3
autorestic_restic_version: 0.18.1
autorestic_config:
  version: 2

  global:
    all:
      verbose: true
    unlock:
      cleanup-cache: true
    forget:
      # Keep 2 weeks worth of snapshots
      keep-last: 14

  locations:
    paperless-ngx-export:
      from: /srv/dev-disk-by-uuid-bb90bdb7-731a-49ce-95e8-7034130bd751/apps/paperless-ngx/export
      to: backblaze
      hooks:
        prevalidate:
          - "docker exec paperless-ngx document_exporter /usr/src/paperless/export --zip"
        failure:
          - 'curl -X POST -H "Content-Type: application/json" -d "{\"content\": \":x: Backup failed for location: ${AUTORESTIC_LOCATION}\"}" "{{ discord_webhook }}"' # noqa yaml[line-length]
        after:
          - 'find /srv/dev-disk-by-uuid-bb90bdb7-731a-49ce-95e8-7034130bd751/apps/paperless-ngx/export -type f -name "*.zip" -mtime +1 -exec rm {} \;'
      cron: "0 23 * * *"
      forget: prune
  backends:
    backblaze:
      type: b2
      # Name of the B2 bucket
      path: dabpaperless
      # Key used by restic to encrypt backups
      key: "{{ lookup('community.general.onepassword', 'Backblaze', section='dabpaperless', field='RESTIC_REPOSITORY_PASSWORD', vault='Home-Ops') }}"
      # Backblaze B2 application ID and key
      env:
        B2_ACCOUNT_ID: "{{ lookup('community.general.onepassword', 'Backblaze', section='dabpaperless', field='B2_ACCOUNT_ID', vault='Home-Ops') }}"
        B2_ACCOUNT_KEY: "{{ lookup('community.general.onepassword', 'Backblaze', section='dabpaperless', field='B2_ACCOUNT_KEY', vault='Home-Ops') }}"
autorestic_cron: true
autorestic_cron_verbose: true
