---
- name: Deploy AWX on K3s
  hosts: k3s01.net.dbren.uk
  vars:
    awx_postgres_password: "{{ lookup('community.general.onepassword', 'awx.net.dbren.uk', field='PostgreSQL Password', vault='Home-Ops') }}"
    awx_admin_password: "{{ lookup('community.general.onepassword', 'awx.net.dbren.uk', vault='Home-Ops') }}"
  tasks:
    - name: Ensure packages are installed
      become: true
      ansible.builtin.package:
        name:
          - git
          # semanage
          - policycoreutils-python-utils
        state: present

    - name: Clone github.com/kurokobo/awx-on-k3s
      ansible.builtin.git:
        repo: https://github.com/kurokobo/awx-on-k3s.git
        dest: "/home/{{ ansible_user }}/awx-on-k3s"
        version: 2.19.1
        force: true

    - name: Deploy AWX Operator
      changed_when: false
      ansible.builtin.command:
        cmd: "kubectl apply -k /home/{{ ansible_user }}/awx-on-k3s/operator"

    - name: Create PostgreSQL directory
      become: true
      ansible.builtin.file:
        path: /data/postgres-15
        state: directory
        mode: u=rwx,g=rx,o=rx

    - name: Create AWX projects directory
      become: true
      ansible.builtin.file:
        path: /data/projects
        state: directory
        owner: 1000
        group: 0
        mode: u=rwx,g=rx,o=rx

    - name: Correct SELinux context for /data
      become: true
      community.general.sefcontext:
        target: "/data(/.*)?"
        setype: container_file_t
        state: present

    - name: Apply new SELinux context to filesystem
      become: true
      changed_when: false
      ansible.builtin.command:
        cmd: restorecon -Rv /data

    - name: Template awx-on-k3s/base/awx.yaml
      ansible.builtin.template:
        src: ../templates/awx/awx.yaml.j2
        dest: "/home/{{ ansible_user }}/awx-on-k3s/base/awx.yaml"
        mode: u=rw,g=r,o=r

    - name: Template awx-on-k3s/base/kustomization.yaml
      ansible.builtin.template:
        src: ../templates/awx/kustomization.yaml.j2
        dest: "/home/{{ ansible_user }}/awx-on-k3s/base/kustomization.yaml"
        mode: u=rw,g=,o=
