---
clusterName: home-ops
talosVersion: v1.11.5
kubernetesVersion: v1.34.1
endpoint: https://talos01.net.dbren.uk:6443
domain: net.dbren.uk
allowSchedulingOnControlPlanes: true
nodes:
  - hostname: talos01
    ipAddress: 192.168.0.10
    controlPlane: true
    installDisk: /dev/sda
    machineSpec:
      mode: metal
      arch: amd64
      secureboot: true
      useUKI: true
    nameservers:
      # NextDNS
      - 45.90.28.138
      - 45.90.30.138
    networkInterfaces:
      - interface: ens18
        dhcp: false
        addresses:
          - 192.168.0.10/24
        routes:
          - network: 0.0.0.0/0
            gateway: 192.168.0.1
    certSANs:
      - 192.168.0.10
      - talos01.net.dbren.uk
    userVolumes:
      # Projects volume for AWX
      - name: awx-projects
        provisioning:
          diskSelector:
            match: disk.dev_path == "/dev/sdb"
          maxSize: "50GiB"
      # Postgres volume for AWX
      - name: awx-postgres
        provisioning:
          diskSelector:
            match: disk.dev_path == "/dev/sdb"
          maxSize: "50GiB"
    schematic:
      customization:
        systemExtensions:
          officialExtensions:
            - siderolabs/qemu-guest-agent
            - siderolabs/tailscale
            - siderolabs/intel-ucode
    patches:
      - |-
        machine:
          kubelet:
            extraMounts:
              - destination: /var/mnt/awx-projects
                type: bind
                source: /var/mnt/awx-projects
                options:
                  - bind
                  - rshared
                  - rw
              - destination: /var/mnt/awx-postgres
                type: bind
                source: /var/mnt/awx-postgres
                options:
                  - bind
                  - rshared
                  - rw
patches:
  # Disable cluster discovery as it is not required for a single node
  - |-
    cluster:
      discovery:
        enabled: false
  # Enable kubelet certificate rotation
  - |-
    machine:
      kubelet:
        extraArgs:
          rotate-server-certificates: "true"
  # Configure the Tailscale extension
  - |-
    ---
    apiVersion: v1alpha1
    kind: ExtensionServiceConfig
    name: tailscale
    environment:
      - TS_AUTHKEY=${ts_authkey}
  # Kube-vip Cloud Controller
  - https://raw.githubusercontent.com/kube-vip/kube-vip-cloud-provider/main/manifest/kube-vip-cloud-controller.yaml
