---
# https://github.com/paperless-ngx/paperless-ngx/tree/main/docker/compose
services:
  broker:
    image: docker.io/library/redis:7
    container_name: paperless-ngx-redis
    restart: unless-stopped
    networks:
      - paperless-ngx
    volumes:
      - paperless-ngx-redis:/data

  db:
    image: docker.io/library/postgres:16
    container_name: paperless-ngx-postgres
    restart: unless-stopped
    networks:
      - paperless-ngx
    volumes:
      - ./database:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: paperless
      POSTGRES_USER: paperless
      POSTGRES_PASSWORD: ${PG_PASS}

  webserver:
    image: ghcr.io/paperless-ngx/paperless-ngx:2.20
    container_name: paperless-ngx
    restart: unless-stopped
    depends_on:
      - db
      - broker
      - gotenberg
      - tika
    networks:
      - paperless-ngx
      - caddy
    expose:
      - 8000
    volumes:
      - ./data:/usr/src/paperless/data
      - ./export:/usr/src/paperless/export
      - /srv/dev-disk-by-uuid-8b39b057-49ce-42d6-90c9-2b138ef4dee3/media:/usr/src/paperless/media
      - /srv/dev-disk-by-uuid-8b39b057-49ce-42d6-90c9-2b138ef4dee3/consume:/usr/src/paperless/consume
    environment:
      PAPERLESS_REDIS: redis://paperless-ngx-redis:6379
      PAPERLESS_DBHOST: paperless-ngx-postgres
      PAPERLESS_DBPASS: ${PG_PASS}
      PAPERLESS_TIKA_ENABLED: 1
      PAPERLESS_TIKA_GOTENBERG_ENDPOINT: http://paperless-ngx-gotenberg:3000
      PAPERLESS_TIKA_ENDPOINT: http://paperless-ngx-tika:9998
      PAPERLESS_SECRET_KEY: ${PAPERLESS_SECRET_KEY}
      PAPERLESS_TIME_ZONE: ${PAPERLESS_TIME_ZONE}
      PAPERLESS_URL: ${PAPERLESS_URL}
      PAPERLESS_OCR_LANGUAGE: ${PAPERLESS_OCR_LANGUAGE}
      PAPERLESS_ADMIN_USER: ${PAPERLESS_ADMIN_USER}
      PAPERLESS_ADMIN_PASSWORD: ${PAPERLESS_ADMIN_PASSWORD}
      PAPERLESS_FILENAME_FORMAT: "{{ created_year }}/{{ document_type }}/{{ correspondent }}/{{ created_year }}_{{ created_month }}_{{ created_day }}_{{ title }}"
      PAPERLESS_APPS: "allauth.socialaccount.providers.openid_connect"
      PAPERLESS_SOCIALACCOUNT_PROVIDERS: ${PAPERLESS_SOCIALACCOUNT_PROVIDERS}
    labels:
      caddy: paperless.{$$DOMAIN}
      caddy.import: cloudflare
      caddy.reverse_proxy: "{{ upstreams 8000 }}"

  gotenberg:
    image: docker.io/gotenberg/gotenberg:8.25
    container_name: paperless-ngx-gotenberg
    restart: unless-stopped
    networks:
      - paperless-ngx
    # The gotenberg chromium route is used to convert .eml files. We do not
    # want to allow external content like tracking pixels or even javascript.
    command:
      - "gotenberg"
      - "--chromium-disable-javascript=true"
      - "--chromium-allow-list=file:///tmp/.*"

  tika:
    image: docker.io/apache/tika:latest
    container_name: paperless-ngx-tika
    restart: unless-stopped
    networks:
      - paperless-ngx

volumes:
  paperless-ngx-redis:
    driver: local

networks:
  paperless-ngx:
    name: paperless-ngx
  caddy:
    external: true
