---
name: Ansible Lint
on:
  push:
    paths:
      - ansible/**

jobs:
  ansible-lint:
    name: Ansible Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install 1Password CLI
        uses: 1password/install-cli-action@v2
      - name: Run ansible-lint
        uses: ansible/ansible-lint@v26.1.1
        with:
          requirements_file: ansible/ee/requirements.yml
